
body{
    font-size:18px;
    background: #4c4c4c;
    background: -webkit-linear-gradient(135deg, rgb(174, 174, 174), rgb(119, 119, 119));
    background: -moz-linear-gradient(135deg, rgb(174, 174, 174), rgb(119, 119, 119));
    background: linear-gradient(135deg, rgb(174, 174, 174), rgb(119, 119, 119));
    padding:0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat'; /*В данной строке прописывается шрифт, который будет использоваться на всей странице*/
}

/* Основное */
.txt1{
    font-size: 34px;
}
.txt2{
    margin-top: 40px;
    text-align: justify;
    line-height: 40px;
    font-size: 20px;
}
.txt3{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 34px;
}
.text{
    margin-top: 200px;
}
.person_team{
    display: inline-block;
    position: relative;
}
.person_photo img{
    width: 100%;
    max-width: 390px;
    min-width: 100px;
    height: auto;
}
.team_name{
    font-size: 25px;
}
.team_role{
    font-size: 25px;
}
.first_stroke_photo{
    margin-top: 30px;
    margin-bottom: 60px;
}
.second_stroke_photo{
    margin-top: 30px;
    margin-bottom: 200px;
}

@media(max-width:992px) {
    .txt2{
        font-size: 20px;
        line-height: 25px;
    }
}
@media(max-width:1199px) {
    .team_name{
        font-size: 25px;
    }
    .team_role{
        font-size: 25px;
    }
}




