
body{
	overflow-x:hidden;
	background: #4c4c4c;
	background: -moz-linear-gradient(-45deg,  var(--colorBack) 0%, var(--colorBack) 100%);
	background: -webkit-linear-gradient(-45deg,  var(--colorBack) 0%,var(--colorBack) 100%);
	background: linear-gradient(135deg,  var(--colorBack) 0%,var(--colorBack) 100%);
	background-image: url("/assets/photo/more-laptop-mini.svg");
	background-color: #AEAEAE;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#969696',GradientType=1 );

	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat'; /*В данной строке прописывается шрифт, который будет использоваться на всей странице*/
}


.btn:hover {
	background-color: #FC6C33 !important;
	color: #000000 !important;
	transition: color .2s, background-color .2s !important;
}

.laptop {
	border-radius: 20px;
}




.block_notebook{
	border-bottom:1px solid #000000;
	
}



@media(max-width: 576px) {
	.main-text .btn {
		font-size: 15px;
	}
	.mobile-margin{
		margin-bottom: 20px;
	}
	.mobile-tip {
		
	}
}

/* MAIN */

.main .title {
	font-weight: 900;
	font-size: clamp(36px, 5vw, 48px);
	line-height: 59px;
	letter-spacing: 0em;
	color: #000000;

	margin-bottom: 40px;
	margin-top: 15px;
}

.main .lap-photo {
	padding: 20px 0;
	margin: 0;
}

.main-text {
	text-align: center;
	align-items: center;
}

.main-text .param {
	margin-bottom: 10px;
	border-radius: 11px;

	transition: .2s;
}

.main-text .param:hover {
	background-color: #FC6C33;
}

.main .mh-photo {
	max-height: 200px;
}

.block-rec {
	color: #000000;
	background-color: #D9D9D9;
}

.block-rec .btn {
	color: #FFFFFF;
	background-color: #000000;
}

.main-buttons .btn{
	margin: 0 0 42px 10px;	
	text-decoration: none;
	background-color: #000000;
	color:#FFFFFF;
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
	
	text-align:center;
	line-height: 37px;
	font-size:30px;
	border-radius: 28px;
	width: clamp(320px, 50%, 500px);
	min-width: 320px;
	height: 56px;
	transition: .3s ease-in-out;
}

