/*Глобальные переменные*/
:root{
  /* Переменные, хранящие цвета сайта*/
  --colorHead:#D9D9D9;  /* Цвет header'a*/
  --colorBack:#AEAEAE; /*Цвет фона*/
  --colorHeadInner:#000000;  /*Цвет текста(ссылок)*/
  --colorLink: #FC6C33; /*Цвет полоски под ссылками в навбаре*/
  --colorFooter: #3A3A3A;
  --colorBalanceP: #FFFFFF; /*Цвет текста баланса*/ 
  --colorButtonPromo:#FC6C33;
}
html{
  max-width: 100%;
}
/*Navigation*/
.navbar{
  
  font-size: 18px;
  border-bottom: 2px solid black;
  background-color:var(--colorHead);
  padding-bottom: 14px;
  
}

/*Стилизация ссылок в навигации*/
.navbar-nav a{
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  transition: font-weight .2s, color .2s,  line-through .2s !important; 
  color: var(--colorHeadInner);
}
.nav-link {
  color: var(--colorLink);
  text-decoration: none;
  letter-spacing: 0.12em;
  display: inline-block;
  position: relative;
}
.nav-link::after{
  color:var(--colorLink);
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: var(--colorLink);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
/*Медиазапрос. Нужен для того, чтобы на конкретном разрешении внести изменеия в класс
т.е адаптация */

@media(max-width:768px)
{
#footer_telegnvk{
  float:none;
}
.footer{
  text-align: center;
}
}
@media(max-width:1200px)
{
  
  .navbar{
      font-size:15px;
  }
  .navbar-collapse img{
      width:35px;
      height:35px;
  }
}
@media(max-width:992px)
{
  .balance{
      padding-top:10px;
  }
}
.nav-link:hover{
  font-weight: 600;
  color:var(--colorLink);
}
.nav-link:hover::after{
  width: 100%; 
  left: 0; 
}
.nav-item{
  margin-right:40px;
}
/*Стили баланса*/
.block_balance{
  padding:8px 0;
  width:130px;
  height: 45px;
  border-radius: 9%;
  background-color:#000000;
  margin:0;
}

.balance_parag{
  font-size:19px;
  color: var(--colorBalanceP);
  letter-spacing: 0.12em;
  font-weight: 900;
}
.balance_text{
  font-weight:900;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.12em;
  color:#000000;
}
/*Личный кабинет и корзина*/

/*Обнуление margin у последнего элемента*/
.lk-and-trash:last-child{
  margin-right:0;
}
/*Подвал сайта(еще в разработке)*/
.footer{
  bottom: 0;
  border-top:2px solid black;
  background-color: var(--colorFooter);
}
.telegvk img{
  float: right;
}
#footer_telegnvk{
  max-width: 45px;
  min-height: 45px;
}
