/*Глобальные переменные*/
:root{
    /* Переменные, хранящие цвета сайта*/
    --colorHead:#D9D9D9;  /* Цвет header'a*/
    --colorBack:#AEAEAE; /*Цвет фона*/
    --colorHeadInner:#000000;  /*Цвет текста(ссылок)*/
    --colorLink: #FC6C33; /*Цвет полоски под ссылками в навбаре*/
    --colorFooter: #3A3A3A;
    --colorBalanceP: #FFFFFF; /*Цвет текста баланса*/ 
}
body{
    background: #4c4c4c;
    background: -moz-linear-gradient(-45deg,  var(--colorBack) 0%, var(--colorBack) 100%);
    background: -webkit-linear-gradient(-45deg,  var(--colorBack) 0%,var(--colorBack) 100%);
    background: linear-gradient(135deg,  var(--colorBack) 0%,var(--colorBack) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#969696',GradientType=1 );

    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat'; /*В данной строке прописывается шрифт, который будет использоваться на всей странице*/
}
/*Navigation*/
.navbar{
    
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 2px solid black;
    background-color:var(--colorHead);
    padding-bottom: 14px;
    margin-bottom: 100px;
}
/*Стилизация ссылок в навигации*/
.navbar-nav a{
    font-weight: 520;
    font-style: normal;
    transition: font-weight .2s, color .2s,  line-through .2s !important; 
    color: var(--colorHeadInner);
}
.nav-link {
    color: var(--colorLink);
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
  }
 .nav-link::after{
    color:var(--colorLink);
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: var(--colorLink);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media (max-width: 992px)
{
    .navbar-brand{
        justify-content: center;
    }
    .navbar{
        text-align: center;
    }
    .balance{
        justify-content: center;
    }
}
.nav-link:hover{
    font-weight: 650;
    color:#FC6C33;
}
 .nav-link:hover::after{
 
    width: 100%; 
    left: 0; 
}
.nav-item{
    margin-left:40px;
}
/*Стили для иконки баланса*/
.balance{
    padding:8px 0;
    width:130px;
    height: 45px;
    border-radius: 9%;
    background-color:#000000;
}


.balance_parag{
    margin:0;
    font-size:19px;
    color: var(--colorBalanceP);
    letter-spacing: 3px;
    font-weight: 900;
}

/*Личный кабинет и корзина*/
.lk-and-trash{
    margin-left: 12px;
}


/*Content(позже добавлю)*/
.content{
    background-size: contain;
    background: var(--colorBack);
}
/*Просто по приколу может пригодится:)*/
.block{ 
    
    height: 100%;
}
/*Основная секция с картинкой ноутбука и кнопкой перенаправления в каталог*/
.promo{
    min-height: 460px;
    margin-bottom: 141px;

}
/*Стилизация хэдеров в секции*/
#center_text_first{
    color:#000000;
    word-break:break-all;
    margin:0 auto;
    letter-spacing:1px;
    font-size:40px;
    font-weight: 900;
    line-height: 48px;
}

#center_text_second{
    word-break:break-all; /*Перенос строки*/
    margin:0 auto; /*обнуляем отступ параграфа, т.к в html он имеет базовый отступ*/
    font-weight: 400;
    font-size:24px;
    line-height: 48px;

}
/*Подвал сайта(еще в разработке*/
.footer{
    max-height: 100%;
   min-height: 100px;
    border-top:3px solid black ;
    background-color: var(--colorFooter);
}
#footer_telegnvk{
    max-width: 40px;
    min-height: 40px;
}
