body{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
   
}
.navbar{
    border: 2px solid black;
    background: #4c4c4c;
background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #1c1c1c 91%, #131313 100%);
background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#1c1c1c 91%,#131313 100%);
background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#1c1c1c 91%,#131313 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );

}
.nav-item{
    margin-left:15px;
}

.content{

    width:1920px;
    height: 819px;
    background: #4c4c4c;
    background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
    

}
